.container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.submit-button {
  font-size: 36px;
  color: whitesmoke;
  background-color: rgb(89, 77, 92);
  border-radius: 6px;
}

